* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #edf2ff;
    font-family: 'Roboto', sans-serif;
}

.container { 
    width: 300px;
    margin: 60px auto;
    text-align: center;
}

#perfil {
    width: 100%;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 3.7px;
    border: #05DA73 solid 4px;
}

h1 {
    margin-top: 24px;
    margin-bottom: 8px;
    font-size: 32px;
}

#profissao {
    font-family: 'Roboto Mono', sans-serif;
    opacity: 0.8;
    font-size: 18px;

}

ul {
    list-style: none;
    margin: 48px 0;
}

ul li {
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #05DA73;

    margin-bottom: 16px;
    border-radius: 6px;
    transition: background 600ms;
}

ul li:hover {
    background: #10732C;
    cursor: pointer;

}

ul li a {
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    padding-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    text-decoration: none;
    width: 100%;
}

footer {
    font-weight: 500;
    font-size: 12px;
    opacity: 0.6;
}
